@model CQSLab.UI.Features.Stores.ViewModels.StoreVM

@{
    ViewBag.Title = "Stores. Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stores. Create</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">@Html.Raw(@ViewBag.Error)</div>
}

@using (Html.BeginForm("Create", "Stores", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(p => p.ChannelId, new { @class = "col-sm-2 control-label", @for = Html.IdFor(p => p.ChannelId) })
        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.ChannelId, new SelectList(Model.Channels, "Value", "Text"), new { @class = "form-control", @required="required" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Name, new { @class = "col-sm-2 control-label", @for = Html.IdFor(p => p.Name) })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Name" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Description, new { @class = "col-sm-2 control-label", @for = Html.IdFor(p => p.Description) })
        <div class="col-sm-10">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Description" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            @Html.ActionLink("Back", "Index", "Stores", null, new { @class = "btn btn-default" })
            <button type="submit" data-action="save" class="btn btn-primary">Create</button>
        </div>
    </div>
}
