@model CQSLab.UI.ViewModels.CustomerVM

@{
    ViewBag.Title = "Customers. Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers. Create</h2>

@if (ViewBag.Error!=null)
{
    <div class="alert alert-danger" role="alert">@Html.Raw(@ViewBag.Error)</div>
}

@using (Html.BeginForm("Create", "Customers", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        <label for="@Html.IdFor(p=>p.Name)" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control",placeholder = "Name" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.IdFor(p=>p.Surname)" class="col-sm-2 control-label">Surname</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", placeholder = "Surname" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.IdFor(p=>p.Email)" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email", placeholder = "Email" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            @Html.ActionLink("Back", "Index", "Customers", null, new { @class = "btn btn-default" })
            <button type="submit" data-action="save"  class="btn btn-primary">Create</button>
        </div>
    </div>
}
