@model CQSLab.UI.ViewModels.ProductEditVM

@{
    ViewBag.Title = "Products. Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products. Edit</h2>

@if (ViewBag.Success != null)
{
    <div class="alert alert-success" role="alert">Saved successfuly</div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">@Html.Raw(@ViewBag.Error)</div>
}

@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ProductId)

    @Html.Partial("_HeaderData")

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            @Html.ActionLink("Back", "Index", "Products", null, new { @class = "btn btn-default" })
            <button type="submit" class="btn btn-primary" data-action="save">Save</button>
        </div>
    </div>
}