@model CQSLab.UI.Features.Channels.ViewModels.ChannelVM

@{
    ViewBag.Title = "Channels. Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Channels. Create</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">@Html.Raw(@ViewBag.Error)</div>
}

@using (Html.BeginForm("Create", "Channels", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        <label for="@Html.IdFor(p=>p.Name)" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Name" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.IdFor(p=>p.Description)" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Description" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            @Html.ActionLink("Back", "Index", "Channels", null, new { @class = "btn btn-default" })
            <button type="submit" data-action="save" class="btn btn-primary">Create</button>
        </div>
    </div>
}
